global:
  checkNewVersion: true
  sendAnonymousUsage: false

api:
  dashboard: false
  debug: true

entryPoints:
  https:
    address: ":443"

serversTransport:
  insecureSkipVerify: true

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
  file:
    directory: /etc/traefik/dynamic
    watch: true

certificatesResolvers:
  cloudflare:
    acme:
      email: info@huettenbau-oberi.ch
      storage: acme.json
      dnsChallenge:
        provider: cloudflare
        delayBeforeCheck: '10'
        disablePropagationCheck: true
        resolvers:
          - 1.1.1.1:53
          - 8.8.8.8:53

accessLog:
  filePath: "/var/log/traefik/access.log"
  bufferingSize: 0
  format: json
  fields:
    headers:
      defaultMode: drop
      names:
          User-Agent: keep

log:
  level: DEBUG
  filePath: "/var/log/traefik/traefik.log"

tls:
  options:
    default:
      sniStrict: true
